params {
    inputFilePath = "$baseDir/data/input.fa"
    org = "euk"
    fastaSubsetSize = 1000
    outputFileName = "signalP.gff3"
    outputDir = "$launchDir/output"


}

process {
    maxForks = 1

    withName: filterInputFastaByResults {
        ext.filter_score_cutoff = 0.1
        ext.filter_min_protein_percent_cutoff = 20
    }
}

docker {
    enabled = true
}
singularity {
    enabled = false
}
