params {
    inputFilePath = "$baseDir/data/input.fa"
    fastaSubsetSize = 1000
    outputFileName = "signalP.gff3"
    outputDir = "$launchDir/output"


}

process {
    maxForks = 1

    withName: filterInputFastaByResults {
        ext.filter_score_cutoff = 0.1
        ext.filter_min_protein_percent_cutoff = 20
    }

     withLabel: signalp {
        container = "TODO"
        ext.org = "euk"
    }

    withName: signalp6 {
        ext.protein_count_limit = 6000
    }



}

includeConfig "$baseDir/conf/docker.config"
